[submodule "cosmos-sdk"]
	path = cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk.git
	branch = v0.45.12
	shallow = true
	ignore = all

[submodule "ibc-go"]
	path = ibc-go
	url = https://github.com/cosmos/ibc-go.git
	branch = v3.3.1
	shallow = true
	ignore = all

[submodule "juno"]
	path = juno
	url = https://github.com/CosmosContracts/juno.git
	branch = v12.0.0
	shallow = true
	ignore = all

[submodule "wasmd"]
	path = wasmd
	url = https://github.com/CosmWasm/wasmd.git
	branch = v0.29.2
	shallow = true
	ignore = all
